<h1 mat-dialog-title>Agregar inscripcion</h1>
<div mat-dialog-content>
    <form mat-form [formGroup]="enrollmentForm">
        <mat-form-field class="w-full">
            <mat-label>Id del estudiante</mat-label>
            <input formControlName="studentName" matInput>
        </mat-form-field>
        <mat-form-field class="w-full m-2">
            <mat-label>Id del curso</mat-label>
            <input formControlName="courseName" matInput>
        </mat-form-field>
    </form>   
</div>
<div mat-dialog-actions>
    <button mat-dialog-close mat-button>
        Cancelar
    </button>
    <button (click)="onConfirm()" mat-button>
        Confirmar
    </button>
</div>
