<div class="container">
    <h2 class="my-4">Gestión de Inscripciones</h2>
  
    @if (isLoading) {
      <div class="d-flex justify-content-center">
        <mat-spinner></mat-spinner>
      </div>
    } @else {
      @if (errorMessage) {
        <div class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>
      } @else {

        <div class="row">
            <div class="col-md-6">
              <h4>Filtrar Inscripciones</h4>
              <form [formGroup]="searchForm" (ngSubmit)="filter()">
                <div class="form-group">
                  <label for="cursoId">Curso</label>
                  <select formControlName="courseId" class="form-control" id="cursoId">
                    <option value="">Selecciona un curso</option>
                    @for (course of cursos; track $index) {
                      <option value="{{ course.id }}">{{ course.name }}</option>
                    }
                    
                  </select>
                </div>
                <button type="submit" class="btn btn-primary m-2">Filtrar</button>
              </form>
            </div>
          </div>
        <div class="d-flex justify-content-end">
          <button (click)="openFormDialog()" mat-button>
            Agregar inscripcion
          </button>
        </div>
          <div class="row mt-4">
            <div class="col-md-12">
              <h4>Inscripciones</h4>
              <div *ngIf="inscripciones.length === 0" class="alert alert-info">
                No hay inscripciones registradas.
              </div>
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              
                <ng-container matColumnDef="Course">
                  <th mat-header-cell *matHeaderCellDef> Curso </th>
                  <td mat-cell *matCellDef="let element"> {{element.courseId}} </td>
                </ng-container>
              
              
                <ng-container matColumnDef="Student">
                  <th mat-header-cell *matHeaderCellDef> Estudiante </th>
                  <td mat-cell *matCellDef="let element"> {{element.studentId}} </td>
                </ng-container>
                <ng-container matColumnDef="Status">
                  <th mat-header-cell *matHeaderCellDef> Estado </th>
                  <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <ng-container matColumnDef="Actions">
                  <th mat-header-cell *matHeaderCellDef> Acciones </th>
                  <td mat-cell *matCellDef="let element"> <button *ngIf="element.status != 'pending'" routerLink="{{element.id}}" mat-icon-button><mat-icon>visibility</mat-icon></button> 
                  <div *ngIf=" element.status === 'pending'">
                    <button (click)="changeStatus(element,'active')" class="btn btn-success">Confirmar</button>
                    <button (click)="changeStatus(element, 'inactive')" class="btn btn-danger">Rechazar</button>
                  </div>
                  
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              
              
            </div>
          </div>
      }
    }
  
   